{% load static %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Сильпо прoтив АТБ</title>
    <meta name="description" content="Сделайте свой выбор, Сильпо или Атб">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'mainsite/index_files/css' %}" >
    <link rel="stylesheet" href="{% static 'mainsite/index_files/laapp.min.css' %}">

<style>
    @media screen and (max-width: 600px) {
    .button.special {
    margin-left: -26px;
    }
   
    .img_spe {
    margin-left: -39px;
    }
    }
</style>   
</head>
<body data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="0">
<main>
    <header class="COwkxSU header alter2-header section" id="home">
        <div class="wZHTKtd shapes-container">
                <div class="shape shape-animated aos-init aos-animate" data-aos="fade-down-right" data-aos-duration="1500" data-aos-delay="100"></div>
                <div class="shape shape-animated aos-init aos-animate" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
                <div class="shape shape-animated aos-init aos-animate" data-aos="fade-up-left" data-aos-duration="500" data-aos-delay="200"></div>
                <div class="shape shape-animated aos-init aos-animate" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200"></div>
                <div class="shape shape-animated aos-init aos-animate" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
                <div class="shape shape-animated aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
                <div class="shape shape-animated aos-init aos-animate" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
                <div class="shape shape-animated aos-init aos-animate" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
                <div class="shape shape-animated aos-init aos-animate" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
                <div class="animation-shape shape-ring animation--clockwise"></div>
                <div class="animation-shape shape-circle shape-circle-1 animation--anti-clockwise"></div>
                <div class="animation-shape shape-circle shape-circle-2 animation--clockwise"></div>
                <div class="animation-shape shape-heart animation--clockwise">
                    <div class="animation--rotating"></div>
                </div>
                <div class="animation-shape shape-triangle animation--rotating-diagonal">
                    <div class="animation--rotating"></div>
                </div>
                <div class="animation-shape shape-diamond animation--anti-clockwise">
                    <div class="animation--rotating"></div>
                </div>
                <div class="static-shape shape-ring-1"></div>
                <div class="static-shape shape-ring-2"></div>
                <div class="static-shape shape-circle shape-circle-1">
                    <div data-aos="fade-down-left" class="aos-init aos-animate"></div>
                </div>
                <div class="static-shape shape-circle shape-circle-2">
                    <div data-aos="fade-down-left" data-aos-delay="500" class="aos-init aos-animate"></div>
                </div>
                <div class="static-shape pattern-dots-1"></div>
                <div class="static-shape pattern-dots-2"></div>
                <div class="static-shape background-shape-main"></div>
                <div class="static-shape ghost-shape ghost-shape-1"></div>
            </div>
            <div class="UarFxHk container">
                <div class="QljYnUw row">
                    <div class="tnpQwST col-md-6" style="    margin-top: 130px;">
                        <h1 class="MTrUkEB display-4 display-md-2 mt-3"><span class="nvxwEtd bold">GOLOS-BEST</span></h1>
                        <p class="lHUESQM lead">Наш сайт - <strong>один из первых онлайн батлов</strong></p>
                    </div>
                   
                </div>
            </div>
        </header>       
        <section class="ZTCrjFH section">
        <div class="lkKQwaB container py-5" style="padding-top: 90px;"></div>
        </section>
        <section class="ZiYpkgd section features" id="features">
            <div class="nMwUaOx container">
                <div class="ikvlxOK section-heading text-center">
                    <h2 class="rCOQTtp heading-line">Участники</h2>
                    <section class="rQvMZYK oF5hA a3Ysvsb wrapper style3 container special shadow rounded" id="vote">
                        <header class="OnSvTpd major">
                                                  </header>
                        <div class="OUZvgBi Zadl5 MYbUarM row">
                            <div class="jlKBTgF JvUUP ZziAdyR 6u 12u(narrower)" style="">
                                <section>
                                    <a href="{% url 'auth' %}" id="mobie" class="KtlwiEj image featured">
                                        <img src="{% static 'mainsite/img/silpo.png' %}" alt=""></a>
                                    <header>
                                        <h3 style="
                                 margin-bottom: 1em;
                                 font-size: 32px;
                                 line-height: 1.17391;
                                 margin-top: 0;
                                 margin-bottom: 0;
                                 font-family: &quot;Fira Sans&quot;, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;
                                 font-weight: 800;
                                 color: #41516A;
                                 letter-spacing: .5px;
                                 ">Сильпо</h3>
                                    </header>
                                    <div class="tOTjvkY LEELJ mmJ1irC votes-number" id="vote-num-2" style="-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;color: #7c8081;font-family: &#39;Lato&#39;, sans-serif;font-size: 15pt;font-weight: 300;letter-spacing: 0.025em;line-height: 1.75em;font-size: 14pt;">14583 голосов</div>
                                    <a style="border-radius: 30px;margin-top: 10px;" class="JKsou3h 10TP9 LBpsyBB button special" href="{% url 'auth' %}">
                                        <span style="font-size: 21px;">Голосовать</span></a>
                                </section>
                            </div>
                            <div class="FvUnSgk Ur21vrd 6u 12u(narrower)" style="">
                                <section>
                                    <a href="{% url 'auth' %}" id="mobie" class="dBZnExr 7xJVsjF image featured"><img src="{% static 'mainsite/img/atb.png' %}" class="mlv87PV shadow"></a>
                                    <header>
                                        <h3 style="
                                 margin-bottom: 1em;
                                 font-size: 32px;
                                 line-height: 1.17391;
                                 margin-top: 0;
                                 margin-bottom: 0;
                                 font-family: &quot;Fira Sans&quot;, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;
                                 font-weight: 800;
                                 color: #41516A;
                                 letter-spacing: .5px;
                                 ">АТБ</h3>
                                    </header>
                                    <div class="rwBOgia bdSmu30 votes-number" id="vote-num-2" style="-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;color: #7c8081;font-family: &#39;Lato&#39;, sans-serif;font-size: 15pt;font-weight: 300;letter-spacing: 0.025em;line-height: 1.75em;font-size: 14pt;">8947 голосов</div>
                                    <a href="{% url 'auth' %}" class="gHCjnZv m0kv9lP button special" style="border-radius: 24px;margin-top: 10px;"><span style="font-size: 21px;">Голосовать</span></a>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="YpatrSw row gap-y text-center text-md-left">
                    <div class="TnHUvEx col-md-4 py-4 rounded shadow-hover">
                    <img src="{% static 'mainsite/index_files/rybin.png' %}">    
                    <h5 class="EBkHMUF bold">Это безопасно!</h5>
                        <p class="iFkZBgn ">Наш сайт имеет статус "Надёжного". Ваши данные в полной безопасности.</p>
                    </div>
                    <div class="adxwZMB col-md-4 py-4 rounded shadow-hover">
                       <img src="{% static 'mainsite/index_files/set_r.png'%} ">
                        <h5 class="FkZaTwK bold">Продвижение</h5>
                        <p class="xjSwlgp ">На нашем сайте вы сможете принять участие и вас увидят сотни людей! Для этого достаточно лишь войти на сайт.</p>
                    </div>
                    <div class="UOMwTdr col-md-4 py-4 rounded shadow-hover">
                       <img src="{% static 'mainsite/index_files/lam_r.png' %}">
                        <h5 class="ivTOrla bold">Ценные призы</h5>
                        <p class="EMQnjkr ">Участвуя в конкурсе на нашем сайте вы сможете получить ценные призы</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="pkrEwtZ section powered-design" id="product">
            <div class="aOBFxnp shapes-container">
                <div class="ZKjSrpi shape shape-circle shape-circle-1">
                    <div data-aos="fade-up-left" data-aos-duration="1500" class="KZrSQtH aos-init"></div>
                </div>
                <div class="ZBTinCw shape shape-circle shape-circle-2">
                    <div data-aos="fade-up-left" data-aos-duration="1200" data-aos-delay="500" class="xZaHKBQ aos-init"></div>
                </div>
                <div class="vlEKnFp shape shape-ring animation--rotating-diagonal">
                    <div></div>
                </div>
                <div class="SwprBxF shape shape-triangle shape-animated">
                    <div class="KHFEUYj animation--rotating"></div>
                </div>
                <div class="rxwUvld shape pattern-dots-1"></div>
            </div>
            
        </section>
        <!-- Features you can't miss -->
        <section class="gZlawHp section features-cant-miss">
            <div class="jxlKrdZ shapes-container overflow-clear">
                <div class="KTCSErO shape shape-circle shape-circle-1">
                    <div data-aos="fade-up-left" class="YpwQjdi aos-init"></div>
                </div>
                <div class="nZlrdMw shape shape-circle shape-circle-2">
                    <div data-aos="fade-up-right" data-aos-delay="200" class="AlCc4T9 aos-init"></div>
                </div>
                <div class="TkvlxjZ shape shape-circle shape-circle-3">
                    <div data-aos="fade-up-left" data-aos-delay="400" class="MV7TmeL aos-init"></div>
                </div>
                <div class="gZKTwSC shape shape-circle shape-circle-4">
                    <div data-aos="fade-up-left" data-aos-delay="600" class="ytdlN9P aos-init"></div>
                </div>
                <div class="iKFMZav shape shape-triangle shape-animated">
                    <div class="Fjooh9a animation--rotating"></div>
                </div>
            </div>
            <div class="FxgZkBH container">
                <div class="UgrOklj row gap-y">
                    <div class="tpFSxdv col-md-6 order-md-last">
                        <div class="xUpZEHw section-heading">
                            <h2 class="QjkSnMY heading-line">Пoчeму стoит принять участиe?</h2></div>
                        <ul class="ETFgQja list-unstyled">
                            <li class="QwkSBnZ media flex-column flex-md-row text-center text-md-left"><img src="{% static 'mainsite/index_files/priz.png'%} ">
                                <div class="kZOYnMK media-body mt-3 mt-md-0">
                                    <h5 class="rTMlQgk bold mt-0 mb-1">Призы</h5>
                                    <p class="EgwFrva m-0">Постоянно обновляющийся список призов, подробнее можете узнать у наших спонсоров.</p>
                                </div>
                            </li>
                            <li class="djQFESk media flex-column flex-md-row text-center text-md-left mt-4">
                                <img src="{% static 'mainsite/index_files/graf.png'%} ">
                                <div class="dUgMirk media-body mt-3 mt-md-0">
                                    <h5 class="SMitvCk bold mt-0 mb-1">Пиар</h5>
                                    <p class="pgSQTZC m-0">Помимо ценныз призов вас также увидит большое количество людей!.</p>
                                </div>
                            </li>
                        </ul>
                        <div class="aCUZKtT text-center text-md-left"><a href="{% url 'auth' %}" class="s8F2Vz1 btn btn-primary text-contrast">Регистрация через Instagram</a></div>
                    </div>
                    <div class="MKalnkY col-md-6">
                    <div class="QlZnSCM  light">
                        <div class="UMjHSOv screen ">
                            <img src="{% static 'mainsite/index_files/phone.png' %}" class="img_spe" style="height: 656px;" alt="...">
                        </div>
                            <div class="HSQKYOt notch"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
            
      <script src="{% static 'mainsite/index_files/jquery.min.js' %}"></script>
      <script type="text/javascript">
         $(document).ready(function(){
            $([document.documentElement, document.body]).animate({
                 scrollTop: $("#features").offset().top
             }, 500);
         });
      </script>
</body>
</html>